/* 
    General Styles
*/

@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");

*{
    font-family: 'Tapestry', cursive;
}

#headerPersonajes {
    display: inline;
    justify-content: center;
    text-align: center;
    
}
#cardsSW{
    display: block;
    justify-content: center; 
    text-align: center;
    margin: 10px 5px 5px 5px; 
}

body {
    background-color: white;
    background-image: url("https://i.pinimg.com/originals/cb/b8/7a/cbb87a525b0eb0e4f02bf22b7d366459.jpg");
    background-size: cover;
}
#navbar {
    background-color: rgba(0, 0, 0, 0.711) !important;
}

.posicionCard {
    display: inline-flex;
}